name: Checks

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: pycln
        run: |
          pip install pycln
          pycln --check --all .

      - name: isort
        run: |
          pip install isort
          isort --check-only .

      - name: black
        run: |
          pip install black
          python -m black --check .
  test:
    name: Test
    env:
      WANDB_API_KEY: ${{ secrets.WANDB_API_KEY }}
    runs-on: ubuntu-latest
    matrix:
      versions:
        - python: "3.10"
          torch: "1.13.1"
        - python: "3.10"
          torch: "2.0.1"
        - python: "3.11"
          torch: "2.0.1"
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          curl -sSL https://install.python-poetry.org | python3 -
          poetry lock --check
          export CUDA_VISIBLE_DEVICES=0
          poetry add torch@${{ matrix.versions.torch }}+cpu --source torch_cpu
          poetry install --all-extras

      - name: Unit tests
        run: make unit

      - name: Integration tests
        run: make integration
      
      - name: Notebook tests
        run: make test_notebooks
